{% extends base %}

{% block preamble %}
{# This block loads the D3.js libraries #}
<script type="text/javascript" src="tinder_analyser/static/d3_js/d3.v5.min.js"></script>
<script type="text/javascript" src="tinder_analyser/static/d3_js/d3-sankey.min.js"></script>

{% endblock %}


{% block contents %}

<div style="width: 600px">
    <h1>Bokeh extension of D3-Sankey library</h1>
</div>

<!-- div for the D3 sankey graph-->
<div id="container">
    <svg id="chart" xlmns="http://www.w3.org/2000/svg"></svg>
</div>

{{ super() }}
{% endblock %}

